/* Color Template  */
.color-primary{
    color: $color-primary;
}

.color-primary-bg{
    background: $color-primary;
}

.color-second{
    color: $color-second;
}

.color-second-bg{
    background: $color-second;
}

.color-yellow{
    color: $color-yellow;
}

.color-yellow-bg{
    background: $color-yellow;
}

.color-dk-blue{
    color:$color-dk-blue;
}

.color-dk-blue-bg{
    background:$color-dk-blue;
}